body {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 16px;
color: #252525;
min-width: 1216px;
background-color: #bfb0de;
}

.none {
display: none !important;
}

.visibility-hidden {
position: absolute;
opacity: 0;
visibility: hidden;
width: 0;
height: 0;
display: block;
margin-left: -10000;
background: transparent;
font-size: 0;
}

.container {
width: 1216px;
padding-right: 8px;
padding-left: 8px;
margin-right: auto;
margin-left: auto;
}
