.solutions {
background-color:  #151515;
padding-top: 128px;
padding-bottom: 128px;
}

.solutions-text {
font-weight: 500;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}


.slider{
}



.slide{
position: relative;
display: inline-block;
}

.slide-title-text{
position: absolute;
left: 40px;
bottom: 73px;
font-weight: 400;
font-size: 40px;
line-height: 49px;
color: #F4F4F4;
}

.slide-text{
position: absolute;
left: 40px;
bottom: 40px;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.slide-img{

width: 380px;
border-radius: 48px;

}

.slider-head{
display: flex;
align-items: center;
margin-bottom: 48px;
}


.sun-station-img {
width: 50%;
}

.sun-station-text-block{
width: 540px;
margin-top: 128px;
margin-bottom: 128px;

margin-left: auto;

}

.sun-station-title{
font-weight: 500;
font-size: 48px;
line-height: 59px;
color: #252525;
margin-bottom: 24px;
}

.sun-station-text{

font-weight: 400;
font-size: 16px;
line-height: 136%;
/* or 22px */

text-align: justify;

color: #252525;
}


.sun-station-text p{
margin-bottom: 16px;
}

.sun-station{
display: flex;
}
